:root {
  --color-primary-dark: #31261a;
  --color-primary-light: #faf4ea;
  --color-brand-dark: #465929;
  --color-brand-light: #819b57;
  --color-decoration: #cfcfbc;
  --color-secondary-dark: #a18268;
}

* {
  box-sizing: border-box;
}

/* Base */
body {
  background-color: var(--color-primary-light);
  color: var(--color-primary-dark);
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

address {
  font-style: normal;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.section {
  padding: 48px 0;
}

.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Button */
.button {
  padding: 16px 32px;
  color: var(--color-primary-light);
  background-color: var(--color-brand-light);
  border: 2px solid var(--color-brand-light);
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
}

.button:hover,
.button:focus {
  color: var(--color-brand-dark);
  background-color: transparent;
}

/* Link */
.link {
  color: var(--color-primary-light);
}

.link:hover {
  color: var(--color-brand-light);
}

/* Header */
header {
  background-color: #2e2e2e;
}

.header-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.header-nav {
  display: flex;
  flex-grow: 1;
  align-items: center;
  gap: 40px;
}

.header-list {
  display: flex;
  gap: 64px;
  justify-content: center;
  flex-grow: 1;
}

/* Hero Section */
.hero-section {
  padding: 272px 0;
  background-image: url(/images/background-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.hero-title {
  margin-bottom: 0;
  color: var(--color-primary-light);
  font-size: 128px;
  font-weight: 900;
  text-align: center;
}

.hero-title .accent {
  color: var(--color-brand-light);
}

/* Advanteges section */
.advanteges-section {
  background-color: var(--color-brand-light);
  padding: 16px 0;
}

.advanteges-list {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.advanteges-item {
  color: var(--color-primary-light);
  font-size: 20px;
  font-weight: 300;
}

.section-title {
  font-size: 64px;
  font-weight: 900;
  line-height: 1.3;
}

.section-title .accent {
  color: var(--color-brand-dark);
}

/* Traditions */
.traditions-section {
  padding-top: 96px;
}

.traditions-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.traditions-content {
  max-width: 710px;
}

.traditions-title {
  margin-bottom: 42px;
}
.traditions-text.limited {
  max-width: 340px;
}

.traditions-text .brand {
  color: var(--color-brand-light);
}

.traditions-text .uppercase {
  text-transform: uppercase;
}

/* Chef */
.chefs-title {
  max-width: 520px;
  padding-bottom: 80px;
  text-align: center;
  margin: 0 auto;
}

.chefs-title::after,
.chefs-title::before {
  display: block;
  border: 2px solid var(--color-decoration);
  width: 352px;
  content: "";
}

.chef-title {
  margin-bottom: 16px;
  font-size: 40px;
  font-weight: 600;
}

.chef-photo {
  border-radius: 4px 4px 4px 200px;
  box-shadow: -16px 16px 0 0 var(--color-primary-light),
    -16px 16px 0 2px var(--color-secondary-dark);
}

/* Format */
.formats-title {
  text-align: center;
}

.format-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.format-item {
  flex-basis: calc((100% - 40px) / 3);
}

.format-card {
  padding: 24px;
  border: 1px solid #2e2e2e; /* TEMP */
  border-radius: 16px;
  height: 444px;
  background-image: linear-gradient(
    180deg,
    rgba(49, 38, 26, 0) 55.21%,
    rgba(49, 38, 26, 0.71) 72.92%,
    #31261a 100%
  );
}

.formats-title {
  margin-bottom: 80px;
}

.format-title {
  font-size: 24px;
  font-weight: 600;
}

.format-text {
  font-size: 14px;
  font-weight: 300;
}

.format-text {
  font-size: 14px;
  font-weight: 300;
}
/* Contact */
.contact-title {
  margin-bottom: 16px;
}

/* Address */
.address-link {
  color: var(--color-primary-light);
  font-size: 16px;
  font-weight: 300;
}

.address-link:hover {
  color: var(--color-brand-light);
}

.address-copyright {
  font-size: 14px;
}

/* Footer */
.footer {
  background-color: var(--color-primary-dark);
  background-image: url(/images/footer-background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
